
:host ::ng-deep .hero {
	h1 {
		animation: headerAnimation 4s ease-in-out forwards;
	}
}

.start-view{
}

@keyframes  headerAnimation{
	0%   {
		transform: scale(.6);
	}
	100% { 
		transform: scale(1);
	}
}