@font-face {
    font-family: "Raleway-Light";
    src: url("./assets/fonts/Raleway-Light.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("./assets/fonts/Raleway-Light.otf") format("opentype"), /* Open Type Font */
        url("./assets/fonts/Raleway-Light.svg") format("svg"), /* Legacy iOS */
        url("./assets/fonts/Raleway-Light.ttf") format("truetype"), /* Safari, Android, iOS */
        url("./assets/fonts/Raleway-Light.woff") format("woff"), /* Modern Browsers */
        url("./assets/fonts/Raleway-Light.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-Medium";
    src: url("./assets/fonts/Raleway-Medium.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("./assets/fonts/Raleway-Medium.otf") format("opentype"), /* Open Type Font */
        url("./assets/fonts/Raleway-Medium.svg") format("svg"), /* Legacy iOS */
        url("./assets/fonts/Raleway-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
        url("./assets/fonts/Raleway-Medium.woff") format("woff"), /* Modern Browsers */
        url("./assets/fonts/Raleway-Medium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AnonymousPro-Regular";
    src: url("./assets/fonts/AnonymousPro-Regular.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/AnonymousPro-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./assets/fonts/AnonymousPro-Regular.otf") format("opentype"), /* Open Type Font */
      url("./assets/fonts/AnonymousPro-Regular.svg") format("svg"), /* Legacy iOS */
      url("./assets/fonts/AnonymousPro-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./assets/fonts/AnonymousPro-Regular.woff") format("woff"), /* Modern Browsers */
      url("./assets/fonts/AnonymousPro-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

:root {
    --font-1: "Raleway-Light",Arial,sans-serif;
    --font-2: "Raleway-Medium",Arial,sans-serif;
    --font-3: "AnonymousPro-Regular",Arial,sans-serif;
}

html {
    font-size: 100%;
    font-family: var(--font-1);


    @include mobile-s {
        font-size: 80%
    }

    @include mobile-l {
        font-size: 120%
    }
}

::selection { 
    color: #fff;
    background: hotpink; 
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}