<!-- <app-top-banner></app-top-banner> -->
<app-hero *ngIf="inputData" [inputData]="inputData" ></app-hero>

<div class="team-list g-max-container g-padding-container">
    <a 
        class="btn" 
        *ngFor="let team of teams$; index as teamId" 
        [routerLink]="['/teams', team.id]" 
        data-id="{{team.id}}">
        <img src="https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/{{team.id}}.svg" alt={team.name}/>
    </a>
</div>

<p *ngIf="copyright$"> {{copyright$}}</p>
