
:host ::ng-deep .stats-chart {
    margin-top: 1.6rem;
}

.player-stats {

    h3 {
        font-family: var(--font-2);
    }
    table {
        width: 100%;
        text-align: center;
        table-layout: fixed;
        position: relative;

        thead {
            border-bottom: 1px solid #ccc;
        }

        th,
        td {
            padding: .8rem;

            
        }

        tfoot td{
            font-size: 1rem;
            color: #fff;
            background-color: #333;
        }

        .--small {
            font-size: .6rem;
        }
    }

    &__minor-stats {
        margin-bottom: 4rem;
        overflow: auto;

        table {
            margin-top: .8rem;
            font-size: .8rem;

            td,
            th {
                padding: .4rem;
                width: 5rem;
            }

            th:first-child,
            td:first-child {
                // display: none;
            }

            th:nth-child(2),
            td:nth-child(2) {
                left: 0;
                position: sticky;
                background: #fff;
            }
        }

        .same-season td:first-child{
            // font-size: .6rem;
            text-indent: -1000px;
            overflow: hidden;
            // background-color:#f1f1f1;
        }
    }
}

.no-stats {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
