
<div class="player-stats g-padding-container" *ngIf="playerCurrentStats$ else elseNoStats" >

    <div *ngIf="playerData.primaryPosition.code === 'G'; else elseForwardStats">
        <!-- Current season -->
        <div class="player-stats__minor-stats">
            <h3>Career</h3>
            <table>   
                <thead>
                    <th>Year</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>GAA</th>
                    <th>Sv%</th>
                    <th>SO</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>OTL</th>
                </thead>
                <!-- Year -->
                <tbody>
                    <tr *ngFor="let item of playerSeasonStats$;" [ngClass]="{'player-stats__playoff': item.sequenceNumber !== 1}">
                        <td class="--small">{{item.season}}</td>
                        <td>{{item.team.name}}</td>
                        <td>{{item.stat.games}}</td>
                        <td>{{item.stat.goalAgainstAverage | number: '1.2-2'}}</td>
                        <td>{{item.stat.savePercentage | number: '1.3-3'}}</td>
                        <td>{{item.stat.shutouts}}</td>
                        <td>{{item.stat.wins}}</td>
                        <td>{{item.stat.losses}}</td>
                        <td>{{item.stat.ot}}</td>
                    </tr>
                </tbody>
                <!-- Total -->
                <tfoot>
                    <tr>
                        <td></td>
                        <td>{{playerSeasonStats$.length}}</td>
                        <td>{{playerCareerStats$.games}}</td>
                        <td>{{playerCareerStats$.goalAgainstAverage | number: '1.2-2'}}</td>
                        <td>{{playerCareerStats$.savePercentage | number: '1.3-3'}}</td>
                        <td>{{playerCareerStats$.shutouts}}</td>
                        <td>{{playerCareerStats$.wins}}</td>
                        <td>{{playerCareerStats$.losses}}</td>
                        <td>{{playerCareerStats$.ot}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <ng-template #elseForwardStats>
        <div class="player-stats__minor-stats">
            <table>   
                <thead>
                    <th>Year</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Goals</th>
                    <th>Assists</th>
                    <th>Points</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of playerSeasonStats$;">
                        <td class="--small">{{item.season}}</td>
                        <!-- <td class="--small"> -->
                            <!-- <td class="--small" *ngIf="item.sequenceNumber !== 1; else elseBlock2"> - - </td>
                            <ng-template #elseBlock2>{{item.season}}<ng-template> -->
                        <!-- </td> -->
                        <td>{{item.team.name}}</td>
                        <td>{{item.stat.games}}</td>
                        <td>{{item.stat.goals}}</td>
                        <td>{{item.stat.assists}}</td>
                        <td>{{item.stat.points}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td>{{playerSeasonStats$.length}}</td>
                        <td>{{playerCareerStats$.games}}</td>
                        <td>{{playerCareerStats$.goals}}</td>
                        <td>{{playerCareerStats$.assists}}</td>
                        <td>{{playerCareerStats$.points}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </ng-template>
    <h3>Career chart</h3>
    <app-stats-chart [playerPos$]="playerData.primaryPosition.code" [playerStats$]="playerSeasonStats$"></app-stats-chart>
</div>

<ng-template #elseNoStats>
    <p class="no-stats">No stats available...</p>
</ng-template>