.hero {
    position: relative;
    height: 30vh;
    min-height: 200px;
    width: 100%;
    color: #fff;
    background: pink;

    h1 {
        font-size: 3rem;
    }
    h1, p {
        color: #fff;
    }


    &__header {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
    }

    &__link {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        color: #ccc;
        text-decoration: none;
        text-align: center;

        &:hover {
            color: #fff;
            background-color: hotpink;
        }
    }

    &__preamble {
        max-width: 700px;
        font-size: 1.2rem;
        text-align: left;
        margin-top: 2rem;
    }

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        background-size: cover;
        transition: opacity .6s ease-in-out;
        background-color: #333;
        background-position: center;
        // filter: grayscale(100%);

        &:before {
            content: '';
            z-index: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    &__content {
        width: 100%;
        padding: 3rem;
        position: relative;
        z-index: 1;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        img {
            width: 8rem;
        }
    }

    &__controller {
        position: absolute;
        z-index: 1;
        bottom: 1rem;
        right: 1rem;

        button {
            margin: 0 .4rem;
        }
    }

}