.hero {
    position: relative;
    height: 40vh;
    min-height: 300px;
    width: 100%;
    color: #fff;

    h1, p {
        color: #fff;
    }

    &__preamble {
        max-width: 700px;
        font-size: 1.2rem;
        text-align: left;
        margin-top: 2rem;
    }

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        background-size: cover;
        opacity: 0;
        transition: opacity .6s ease-in-out;

        &--active{
            opacity: 1;
        }

        &:before {
            content: '';
            z-index: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);       
        }
    }

    &__content {
        width: 100%;
        padding: 3rem;
        position: relative;
        z-index: 1;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    &__controller {
        position: absolute;
        z-index: 1;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);

        button {
            margin: 0 .4rem;
        }
    }

}