
<!-- <app-hero *ngIf="inputData" [inputData]="inputData" ></app-hero> -->
<!-- <app-top-banner></app-top-banner> -->
<!-- <section class="g-max-container">
  <h2>{{title}}</h2>
</section> -->
<!-- <app-search></app-search> -->

<!-- <app-teams-list></app-teams-list> -->
<router-outlet></router-outlet>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, suscipit. Veniam quo consectetur minus ex, porro odit, ullam consequatur obcaecati officiis dolorem voluptatum omnis deserunt, exercitationem quia possimus at iste.</p>