
.team-detail {

    img {
        width: 5rem;

        @media only screen and (min-width: 1024px){
            width: 6rem;
        }
        
    }

    &__header {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
    }

    &__link {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        color: #ccc;
        text-decoration: none;
        text-align: center;
    }

    &__sort {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

        button {
            margin: 0 .4rem;
        }
    }

    &__roster {
        display: grid;
        grid-template-columns: 6fr 6fr;
        grid-row-gap: 1.4rem;
        grid-column-gap: 1rem;
        margin-bottom: 3rem;
    }

    &__player {
        position: relative;
        display: grid;
        // grid-template-rows: auto 5rem;
        grid-template-columns: auto 5fr;
        grid-column-gap: .6rem;
        border: 1px solid #ccc;

        img {
            max-width: 100%;
            align-self: flex-end;
        }

        &-info {
            position: relative;
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
            margin-bottom: 0;
        }

        &-no {                
            display: inline-block;
            margin: 0.6rem 0;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 1em;
            color: #fff;
            text-shadow: 1px 1px 1px rgba(0,0,0,.8);
        }

        &-name {
            display: inline-block;
            width: 100%;
        }

        &-pos {
            display: inline-block;
            font-size: .8rem;
        }
    }

    @media only screen and (min-width: 480px) {

        &__roster  {
            grid-template-columns: 6fr 6fr;
        }
    }

    @media only screen and (min-width: 768px){
        &__roster  {
            grid-template-columns: 4fr 4fr 4fr;
        }
    }

    @media only screen and (min-width: 1024px){
        &__roster  {
            grid-template-columns: 3fr 3fr 3fr 3fr;
        }
    }

}