/* You can add global styles to this file, and also import other style files */

@import "./reset.css";
@import "./core-styles/typography.scss";

html {
    font-size: 100%;
}

.g-max-container {
    max-width: 100%;
    padding: 0 3rem;
}

.g-padding-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

section {
    margin-bottom: 3rem;

    &.--clear-section {
        margin-bottom: 0;
    }
}


button,
.btn {
    padding: .4rem .6rem;
    font-size: 1rem;
    font-family: Open Sans Condensed,Arial,sans-serif;
    color: #444;
    border: 1px solid #ccc;
    border-radius: .2rem;

    &.-active,
	&:hover{
		background: #ffddee;
		border-color: pink;
	}
}
